---
import CreateRecipeForm from "@/components/react/CreateRecipeForm";
import { db } from "@/db";
import { categories } from "@/db/schema/categories";
import { cuisines } from "@/db/schema/cuisines";
import { ingredients } from "@/db/schema/ingredients";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { capitalize } from "@/lib/utils";

export const prerender = false;

const languages = [
  { code: "en", name: "English" },
  { code: "pl", name: "Polish" },
  { code: "es", name: "Spanish" },
];

const allCuisines = await db.select().from(cuisines);
const allCategories = await db.select().from(categories);
const allIngredients = await db
  .select({
    id: ingredients.id,
    name: ingredients.name,
    category: ingredients.category,
  })
  .from(ingredients)
  .then((res) =>
    res.map((res) => ({
      ...res,
      category: capitalize(res.category).replace("_", " "),
      id: res.id.toString(),
    }))
  );
---

<BaseLayout title="Create New Recipe - Cooking Spot">
  <main class="container mx-auto px-4 py-8">
    <div class="max-w-4xl mx-auto min-h-screen">
      <h1 class="text-3xl font-bold mb-8">Create New Recipe</h1>

      <CreateRecipeForm
        client:only="react"
        cuisines={allCuisines}
        categories={allCategories}
        languages={languages}
        ingredients={allIngredients}
      />
    </div>
  </main>
</BaseLayout>
