---
import { Image } from "astro:assets";
import { getSession } from "auth-astro/server";

import Navigation from "./Navigation.astro";
import { getUser, type TUser } from "@/services/auth";
import { HEADER_LINKS, SITE_TITLE } from "@/constants";
import LoggedAuth from "@/components/react/auth/LoggedAuth";
import PublicAuth from "@/components/react/auth/PublicAuth";


interface Props {
  user?: TUser;
}

const { user } = Astro.props;

let userData: TUser | undefined | null;

if (user) {
  userData = { ...user };
} else {
  const session = await getSession(Astro.request);

  if (session && session.user && session.user.email) {
    userData = await getUser(session.user.email, "email");
  }
}
---

<header
  class="sticky top-0 z-50 backdrop-blur-md bg-background/80 border-b border-neutral-200 dark:border-neutral-700 transition-colors"
>
  <div class="container flex justify-between py-4 min-h-[92px]">
    <a
      href="/"
      class="font-semibold bg-transparent text-center flex flex-col justify-center items-center w-fit gap-1"
    >
      <Image
        src="/assets/images/logo.webp"
        alt={`${SITE_TITLE} Logo`}
        class="max-w-[60px] md:max-w-[80px]"
        width={100}
        height={100}
        loading={'eager'}
        fetchpriority={'high'}
      />
    </a>

    <Navigation links={HEADER_LINKS} />

    <div class="flex gap-6 justify-end items-center min-w-[40px] min-h-10">

      {
        userData ? (

        <div  id="user-data-loader" class="size-10 md:size-14 bg-gray-200 rounded-full animate-pulse"></div>
          <LoggedAuth
            user={userData}
            client:only="react"
          />
        ) : (

   <div id="user-data-loader"
        class="flex items-center space-x-1 md:space-x-2 lg:space-x-3"
      >
        <div class="size-7 md:size-8 lg:size-10 bg-gray-200 rounded-full animate-pulse"></div>
        <div
          class="size-7 md:size-8 lg:size-10 bg-gray-200 rounded-full animate-pulse"
        >
        </div>
        <div
          class="size-7 md:size-8 lg:size-10 bg-gray-200 rounded-full animate-pulse"
        >
        </div>
      </div>
          <PublicAuth client:only="react" />
        )
      }
    </div>
  </div>
</header>
