---
import Image from "astro/components/Image.astro";

import Navigation from "./Navigation.astro";

import { getSession } from "auth-astro/server";
import { getUser, type TUser } from "@/services/auth";
import { HEADER_LINKS, SITE_TITLE } from "@/constants";
import LoggedAuth from "@/components/react/auth/LoggedAuth";
import PublicAuth from "@/components/react/auth/PublicAuth";

interface Props {
  user?: TUser;
}

const { user } = Astro.props;

let userData: TUser | undefined | null;

if (user) {
  userData = { ...user };
} else {
  const session = await getSession(Astro.request);
  if (session && session.user && session.user.email) {
    userData = await getUser(session.user.email, "email");
  }
}
---

<header class="bg-background text-foreground shadow-sm">
  <div class="container grid grid-cols-3 py-4 min-h-[92px]">
    <a
      href="/"
      class="font-semibold bg-transparent text-center flex flex-col justify-center items-center w-fit gap-1"
    >
      <Image
        src="/assets/images/logo.png"
        alt={`${SITE_TITLE} Logo`}
        class="max-w-[60px] md:max-w-[80px]"
        width={100}
        height={100}
      />
    </a>

    <Navigation links={HEADER_LINKS} />

    <div class="flex gap-6 justify-end items-center min-w-[40px] min-h-10">
      {
        userData ? (
          <LoggedAuth
            user={userData}
            client:only="react"
          />
        ) : (
          <PublicAuth client:only="react" />
        )
      }
    </div>
  </div>
</header>
