---
import { Image } from "astro:assets";

interface CookingStepProps {
  action?: string;
  href?: string;
  className?: string;
  alt?: string;
}

const {
  action = "default",
  href,
  className,
  alt,
} = Astro.props as CookingStepProps;

const imagePath = href ? href : `/src/images/steps/${action}.webp`;
---

<div class={`${className || ""}`}>
  <Image
    src={imagePath}
    alt={alt ? alt : `${action} step`}
    width={1000}
    height={1000}
    class="w-full lg:w-[65%] h-auto"
  />
</div>
