---
interface Props {
  ingredients: { name: string; quantity: string }[];
  portions: number;
}

const { ingredients, portions } = Astro.props;
---

<ul>
  {
    ingredients.map(
      ({ name, quantity: amount }: { name: string; quantity: string }) => (
        <li>
          <strong>{name}:</strong> {amount}
        </li>
      )
    )
  }
</ul>

<p><strong>Portions:</strong> {portions}</p>
