---
import { getSession } from "auth-astro/server";
import RateRecipe from "@/components/react/recipes/RateRecipe";
import { getUser } from "@/services/auth";
import { getRatingDataBySlug, getUserRateBySlug } from "@/services/rates";

interface Props {
  slug: string;
}

const { slug } = Astro.props;

const ratingDataPromise = getRatingDataBySlug(slug);
const sessionPromise = getSession(Astro.request);

const [ratingData, session] = await Promise.all([ratingDataPromise, sessionPromise]);

let user = Astro.locals?.user ?? null;
let initialRating = null;

if (!user && session && session.user && session.user.email) {
  user = await getUser(session.user.email, "email");
}

if (user) {
  initialRating = await getUserRateBySlug(slug, user.id);
}
---

<section>
  <p>
    <strong>Rating:</strong> {parseFloat(ratingData?.rating ?? "0")} / 5
  </p>
  <p><strong>Rating Count:</strong> {ratingData?.ratingCount ?? 0}</p>
  <p><strong>Views:</strong> {ratingData?.views ?? 0}</p>

  {
    user && (
      <RateRecipe
        client:only="react"
        recipeSlug={slug}
        initialRating={initialRating ?? 0}
      />
    )
  }
</section>
