---
import { getCollection } from "astro:content";
import { eq } from "drizzle-orm";

import UserAvatar from "@/components/react/avatar/UserAvatarUpload";
import { db } from "@/db";
import { rates } from "@/db/schema/rates";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { likes } from "@/db/schema/likes";
import BioEditor from "@/components/react/forms/BioEditor";
import RecipesList from "@/components/astro/recipe-cards/RecipesList.astro";

export const prerender = false;

const { user } = Astro.locals;

// Fetch slugs of recipes rated by the user
const [ratedRecipesSlugs, favoriteRecipesSlugs] = await Promise.all([
  db
    .select({ slug: rates.recipeSlug })
    .from(rates)
    .where(eq(rates.userId, user.id))
    .execute()
    .then((rows) => rows.map((row) => row.slug)),
  db
    .select({ slug: likes.recipeSlug })
    .from(likes)
    .where(eq(likes.userId, user.id))
    .execute()
    .then((rows) => rows.map((row) => row.slug)),
]);

const ratedRecipes = await getCollection("recipe", (entry) =>
  ratedRecipesSlugs.includes(entry.data.slug)
);

const favoriteRecipes = await getCollection("recipe", (entry) =>
  favoriteRecipesSlugs.includes(entry.data.slug)
);
---

<BaseLayout
  title="User Dashboard"
  description="User Dashboard"
>
  <h1 class="text-3xl font-bold mb-8">User Dashboard</h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="md:col-span-1">
      <div class="bg-card rounded-lg shadow p-6">
        <UserAvatar
          client:only="react"
          userId={user.id}
          avatar={user.avatar ?? ""}
        />
        <h2 class="text-xl font-semibold mt-4">{user.name}</h2>
        <p class="text-muted-foreground">{user.email}</p>
        <BioEditor
          client:only="react"
          initialBio={user.bio ?? ""}
        />
      </div>
    </div>

    <div class="md:col-span-2">
      <section class="mb-8">
        <div class="flex justify-between">
          <h2 class="text-2xl font-semibold mb-4">Favorite Recipes</h2>
          {
            ratedRecipes.length > 8 && (
              <a
                class="text-gray-900
            hover:text-red-500
            transition-all
            text-lg"
                href="/recipes"
              >
                See more...
              </a>
            )
          }
        </div>

        {
          favoriteRecipes.length > 0 ? (
            <RecipesList recipes={favoriteRecipes.slice(0, 8)} />
          ) : (
            <div class="text-muted-foreground flex flex-col gap-3 items-center justify-center text-xl h-60">
              <p>You don't have any favorite recipes yet.</p>
              <a
                href="/recipes"
                class=" font-semibold leading-6 text-muted-foreground hover:text-primary transition-all"
              >
                Let's change it!
              </a>
            </div>
          )
        }
      </section>
      <div class="md:col-span-2">
        <section class="mb-8">
          <div class="flex justify-between">
            <h2 class="text-2xl font-semibold mb-4">Rated Recipes</h2>
            {
              ratedRecipes.length > 8 && (
                <a
                  class="text-gray-900
            hover:text-red-500
            transition-all
            text-lg"
                  href="/recipes"
                >
                  See more...
                </a>
              )
            }
          </div>

          {
            ratedRecipes.length > 0 ? (
              <RecipesList recipes={ratedRecipes.slice(0, 8)} />
            ) : (
              <div class="text-muted-foreground flex flex-col gap-3 items-center justify-center text-xl h-60">
                <p> You haven't rated any recipes yet.</p>
                <a
                  href="/recipes"
                  class=" font-semibold leading-6 text-muted-foreground hover:text-primary transition-all"
                >
                  Let's change it!
                </a>
              </div>
            )
          }
        </section>
      </div>
    </div>
  </div>
</BaseLayout>
