---
const today = new Date();
---

<footer class="bg-background text-foreground py-12">
  <div class="container text-center">
    <p class="text-md">
      &copy; {today.getFullYear()} Cooking Spot. All rights reserved.
    </p>
  </div>
</footer>
