---
import Image from "astro/components/Image.astro";
import { HEADER_LINKS, SITE_TITLE } from "../constants";
import Navigation from "./Navigation.astro";

import LoggedAuth from "./react/LoggedAuth";
import { getSession } from "auth-astro/server";
import { getUser, type TUser } from "@/services/auth";
import PublicAuth from "./react/PublicAuth";

const { user } = Astro.props as { user?: TUser };

let userData: TUser | undefined | null;

if (user) {
  userData = { ...user };
} else {
  const session = await getSession(Astro.request);
  if (session && session.user && session.user.email) {
    userData = await getUser(session.user.email, "email");
  }
}
---

<header class="bg-background text-foreground shadow-sm">
  <div class="container grid grid-cols-3 py-2 md:py-4">
    <a
      href="/"
      class="font-semibold bg-transparent text-center flex flex-col justify-center items-center w-fit gap-1 relative"
      ><span class="-mb-1.5 md:-mb-1 text-xs md:text-sm font-sans"
        >{SITE_TITLE}</span
      >

      <Image
        src="/assets/images/logo-no-bg.png"
        alt="logo"
        width={40}
        height={40}
      />
    </a>

    <Navigation
      links={HEADER_LINKS}
      currentPath={Astro.url.pathname}
    />

    <div class="flex gap-6 justify-end items-center min-w-[40px] min-h-10">
      {
        userData ? (
          <LoggedAuth
            user={userData}
            client:only="react"
          />
        ) : (
          <PublicAuth client:only="react" />
        )
      }
    </div>
  </div>
</header>
