---
import Image from "astro/components/Image.astro";
import { headerLinks, SITE_TITLE } from "../constants";
import Navigation from "./Navigation.astro";

import LoggedAuth from "./react/LoggedAuth";
import { getSession } from "auth-astro/server";
import { getUser } from "@/services/auth";
import PublicAuth from "./react/PublicAuth";
import type { TUser } from "@/db/schema/users";

const { user } = Astro.props as { user?: TUser };

let userData: TUser | undefined | null;

if (user) {
  userData = { ...user };
} else {
  const session = await getSession(Astro.request);
  if (session && session.user && session.user.email) {
    userData = await getUser(session.user.email, "email");
  }
}
---

<header class="bg-background text-foreground shadow-sm">
  <div class="container grid grid-cols-3 py-4">
    <a
      href="/"
      class="font-semibold bg-transparent text-center text-sm flex justify-center items-center w-fit gap-1"
      >{SITE_TITLE}

      <Image
        src="/assets/logo-no-bg.png"
        alt="logo"
        width={32}
        height={32}
        class="size-6"
      />
    </a>

    <Navigation
      links={headerLinks}
      currentPath={Astro.url.pathname}
    />

    <div class="flex gap-6 justify-end items-center min-w-[40px] min-h-10">
      {
        userData ? (
          <LoggedAuth
            user={userData}
            client:only="react"
          />
        ) : (
          <PublicAuth client:only="react" />
        )
      }
    </div>
  </div>
</header>
