---
import RecipeCard from "./RecipeCard.astro";
import type { TRecipeCollectionEntry } from "@/types";
import { getRecipesRatingDataByIdArray } from "@/services/recipes";

const { recipes, ratingData } = Astro.props as {
  recipes: TRecipeCollectionEntry[];
  ratingData?: {
    id: string;
    rating: number;
    ratingCount: number;
    view: number;
  }[];
};

let recipesRatingData;

if (ratingData) {
  recipesRatingData = ratingData;
} else {
  const recipesIds = recipes.map((recipe) => recipe.data.id);

  recipesRatingData = (await getRecipesRatingDataByIdArray(recipesIds)) ?? [];
}
---

<div class="grid-responsive">
  {
    recipes.map((recipe) => (
      <RecipeCard
        recipe={recipe.data}
        ratingData={recipesRatingData.find((r) => r.id === recipe.data.id)}
      />
    ))
  }
</div>
