---
import BaseHead from "@/components/astro/pages-structure/BaseHead.astro";
import Footer from "@/components/astro/pages-structure/Footer.astro";
import Header from "@/components/astro/pages-structure/Header.astro";
import HeaderSkeleton from "@/components/astro/pages-structure/HeaderSkeleton.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  background?: boolean;
}

const { title, description, image, background } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
    />
  </head>

  <body class="min-h-screen">
    <Header server:defer>
      <HeaderSkeleton slot="fallback" />
    </Header>
    <div class="flex">
      {
        background && (
          <div
            class="min-h-full hidden md:block min-w-28 xl:min-w-40 bg-[url('@/images/bg-texture-2-left.png')] xl:bg-[url('@/images/bg-big-texture-left.png')] bg-repeat-y bg-opacity-100 bg-left-top bg-fit pointer-events-none z-0 opacity-40"
            aria-hidden="true"
          />
        )
      }

      <main class="container py-4 md:py-8 lg:py-12">
        <slot />
      </main>

      {
        background && (
          <div
            class="min-h-full hidden md:block min-w-28 xl:min-w-40 bg-[url('@/images/bg-texture-2-right.png')] xl:bg-[url('@/images/bg-big-texture-right.png')] bg-repeat-y bg-right-top bg-fit pointer-events-none z-0 opacity-40"
            aria-hidden="true"
          />
        )
      }
    </div>
    <Footer />
  </body>
</html>
